<a href="https://colab.research.google.com/github/shivamgoyal7/LinearRegression-ML/blob/master/stockPricePrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **STOCK PRICE PREDICTION**

In [14]:
!pip install quandl

Requirement already satisfied: quandl in /usr/local/lib/python3.6/dist-packages (3.5.2)
Requirement already satisfied: pandas>=0.14 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.0.5)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.6/dist-packages (from quandl) (2.8.1)
Requirement already satisfied: inflection>=0.3.1 in /usr/local/lib/python3.6/dist-packages (from quandl) (0.5.0)
Requirement already satisfied: more-itertools in /usr/local/lib/python3.6/dist-packages (from quandl) (8.4.0)
Requirement already satisfied: numpy>=1.8 in /usr/local/lib/python3.6/dist-packages (from quandl) (1.18.5)
Requirement already satisfied: requests>=2.7.0 in /usr/local/lib/python3.6/dist-packages (from quandl) (2.23.0)
Requirement already satisfied: six in /usr/local/lib/python3.6/dist-packages (from quandl) (1.15.0)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas>=0.14->quandl) (2018.9)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.7.0->quandl) (2020.6.20)

In [15]:
#Quandl unifies financial and economic datasets from hundreds of publishers on a single user-friendly platform.

import quandl
import numpy as np

In [16]:
#amazon dataset is used here

dataset = quandl.get("WIKI/AMZN")
dataset

               Open     High      Low  ...     Adj. Low   Adj. Close  Adj. Volume
Date                                   ...
1997-05-16    22.38    23.75    20.50  ...     1.708333     1.729167   14700000.0
1997-05-19    20.50    21.25    19.50  ...     1.625000     1.708333    6106800.0
1997-05-20    20.75    21.00    19.63  ...     1.635833     1.635833    5467200.0
1997-05-21    19.25    19.75    16.50  ...     1.375000     1.427500   18853200.0
1997-05-22    17.25    17.38    15.75  ...     1.312500     1.395833   11776800.0
...             ...      ...      ...  ...          ...          ...          ...
2018-03-21  1586.45  1590.00  1563.17  ...  1563.170000  1581.860000    4667291.0
2018-03-22  1565.47  1573.85  1542.40  ...  1542.400000  1544.100000    6177737.0
2018-03-23  1539.01  1549.02  1495.36  ...  1495.360000  1495.560000    7843966.0
2018-03-26  1530.00  1556.99  1499.25  ...  1499.250000  1555.860000    5547618.0
2018-03-27  1572.40  1575.96  1482.32  ...  1482.320000  1497.050000    6793279.0

[5248 rows x 12 columns]

In [17]:
#added a new column of 'Prediction' at the end to predict stock price

dataset['Prediction'] = dataset[['Adj. Close']].shift(-30)
dataset

               Open     High      Low  ...   Adj. Close  Adj. Volume  Prediction
Date                                   ...
1997-05-16    22.38    23.75    20.50  ...     1.729167   14700000.0    1.541667
1997-05-19    20.50    21.25    19.50  ...     1.708333    6106800.0    1.515833
1997-05-20    20.75    21.00    19.63  ...     1.635833    5467200.0    1.588333
1997-05-21    19.25    19.75    16.50  ...     1.427500   18853200.0    1.911667
1997-05-22    17.25    17.38    15.75  ...     1.395833   11776800.0    2.000000
...             ...      ...      ...  ...          ...          ...         ...
2018-03-21  1586.45  1590.00  1563.17  ...  1581.860000    4667291.0         NaN
2018-03-22  1565.47  1573.85  1542.40  ...  1544.100000    6177737.0         NaN
2018-03-23  1539.01  1549.02  1495.36  ...  1495.560000    7843966.0         NaN
2018-03-26  1530.00  1556.99  1499.25  ...  1555.860000    5547618.0         NaN
2018-03-27  1572.40  1575.96  1482.32  ...  1497.050000    6793279.0         NaN

[5248 rows x 13 columns]

In [18]:
# x is column start from 0 to -1

x = np.array(dataset.drop(['Prediction'], 1))
x = x[: -30]
x

array([[2.23800000e+01, 2.37500000e+01, 2.05000000e+01, ...,
        1.70833333e+00, 1.72916667e+00, 1.47000000e+07],
       [2.05000000e+01, 2.12500000e+01, 1.95000000e+01, ...,
        1.62500000e+00, 1.70833333e+00, 6.10680000e+06],
       [2.07500000e+01, 2.10000000e+01, 1.96300000e+01, ...,
        1.63583333e+00, 1.63583333e+00, 5.46720000e+06],
       ...,
       [1.42967000e+03, 1.43375000e+03, 1.34994000e+03, ...,
        1.34994000e+03, 1.35047000e+03, 8.10856000e+06],
       [1.37349000e+03, 1.38350000e+03, 1.26593000e+03, ...,
        1.26593000e+03, 1.33899000e+03, 1.37878860e+07],
       [1.36467000e+03, 1.39381000e+03, 1.34401000e+03, ...,
        1.34401000e+03, 1.38623000e+03, 6.68221400e+06]])

In [19]:
y = np.array(dataset['Prediction'])
y = y[: -30]
y

array([1.54166667e+00, 1.51583333e+00, 1.58833333e+00, ...,
       1.49556000e+03, 1.55586000e+03, 1.49705000e+03])

In [20]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.25, random_state = 0)

# **Linear Regression**

In [30]:
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(x_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [31]:
#comparing y_test and y_pred

y_pred = regressor.predict(x_test)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[  48.77623605   51.98      ]
 [  89.91277196   72.08      ]
 [ 120.92958903  136.579     ]
 ...
 [   5.06923379   14.72      ]
 [1061.14864383  999.855     ]
 [  45.92019632   59.59      ]]

# **ACCURACY SCORE**

In [32]:
accuracy = regressor.score(x_test, y_test)
accuracy

0.9892536013136081

In [33]:
remaining_x = np.array(dataset.drop(['Prediction'], 1))[-30:]
remaining_x

array([[1.385930e+03, 1.419720e+03, 1.383530e+03, 1.414510e+03,
        5.858860e+06, 0.000000e+00, 1.000000e+00, 1.385930e+03,
        1.419720e+03, 1.383530e+03, 1.414510e+03, 5.858860e+06],
       [1.406250e+03, 1.452060e+03, 1.403360e+03, 1.451050e+03,
        5.881238e+06, 0.000000e+00, 1.000000e+00, 1.406250e+03,
        1.452060e+03, 1.403360e+03, 1.451050e+03, 5.881238e+06],
       [1.466890e+03, 1.468940e+03, 1.436840e+03, 1.461760e+03,
        5.598111e+06, 0.000000e+00, 1.000000e+00, 1.466890e+03,
        1.468940e+03, 1.436840e+03, 1.461760e+03, 5.598111e+06],
       [1.457370e+03, 1.465800e+03, 1.446560e+03, 1.448690e+03,
        4.410879e+06, 0.000000e+00, 1.000000e+00, 1.457370e+03,
        1.465800e+03, 1.446560e+03, 1.448690e+03, 4.410879e+06],
       [1.446490e+03, 1.488770e+03, 1.446490e+03, 1.468350e+03,
        6.388374e+06, 0.000000e+00, 1.000000e+00, 1.446490e+03,
        1.488770e+03, 1.446490e+03, 1.468350e+03, 6.388374e+06],
       [1.485000e+03, 1.503490e+03, 1.478920e+03, 1.482920e+03,
        6.216694e+06, 0.000000e+00, 1.000000e+00, 1.485000e+03,
        1.503490e+03, 1.478920e+03, 1.482920e+03, 6.216694e+06],
       [1.495360e+03, 1.502540e+03, 1.475760e+03, 1.484760e+03,
        4.732555e+06, 0.000000e+00, 1.000000e+00, 1.495360e+03,
        1.502540e+03, 1.475760e+03, 1.484760e+03, 4.732555e+06],
       [1.495340e+03, 1.500000e+03, 1.486500e+03, 1.500000e+03,
        4.327008e+06, 0.000000e+00, 1.000000e+00, 1.495340e+03,
        1.500000e+03, 1.486500e+03, 1.500000e+03, 4.327008e+06],
       [1.509200e+03, 1.522840e+03, 1.507000e+03, 1.521950e+03,
        4.909053e+06, 0.000000e+00, 1.000000e+00, 1.509200e+03,
        1.522840e+03, 1.507000e+03, 1.521950e+03, 4.909053e+06],
       [1.524500e+03, 1.526780e+03, 1.507210e+03, 1.511980e+03,
        4.708378e+06, 0.000000e+00, 1.000000e+00, 1.524500e+03,
        1.526780e+03, 1.507210e+03, 1.511980e+03, 4.708378e+06],
       [1.519510e+03, 1.528700e+03, 1.512000e+03, 1.512450e+03,
        4.426580e+06, 0.000000e+00, 1.000000e+00, 1.519510e+03,
        1.528700e+03, 1.512000e+03, 1.512450e+03, 4.426580e+06],
       [1.513600e+03, 1.518490e+03, 1.465000e+03, 1.493450e+03,
        6.835230e+06, 0.000000e+00, 1.000000e+00, 1.513600e+03,
        1.518490e+03, 1.465000e+03, 1.493450e+03, 6.835230e+06],
       [1.469100e+03, 1.501050e+03, 1.455010e+03, 1.500250e+03,
        6.587564e+06, 0.000000e+00, 1.000000e+00, 1.469100e+03,
        1.501050e+03, 1.455010e+03, 1.500250e+03, 6.587564e+06],
       [1.494240e+03, 1.525380e+03, 1.481000e+03, 1.523610e+03,
        5.233934e+06, 0.000000e+00, 1.000000e+00, 1.494240e+03,
        1.525380e+03, 1.481000e+03, 1.523610e+03, 5.233934e+06],
       [1.533200e+03, 1.542130e+03, 1.528000e+03, 1.537640e+03,
        4.561718e+06, 0.000000e+00, 1.000000e+00, 1.533200e+03,
        1.542130e+03, 1.528000e+03, 1.537640e+03, 4.561718e+06],
       [1.526520e+03, 1.545900e+03, 1.522510e+03, 1.545000e+03,
        4.174123e+06, 0.000000e+00, 1.000000e+00, 1.526520e+03,
        1.545900e+03, 1.522510e+03, 1.545000e+03, 4.174123e+06],
       [1.550000e+03, 1.554880e+03, 1.545250e+03, 1.551860e+03,
        3.512528e+06, 0.000000e+00, 1.000000e+00, 1.550000e+03,
        1.554880e+03, 1.545250e+03, 1.551860e+03, 3.512528e+06],
       [1.563500e+03, 1.578940e+03, 1.559080e+03, 1.578890e+03,
        4.417059e+06, 0.000000e+00, 1.000000e+00, 1.563500e+03,
        1.578940e+03, 1.559080e+03, 1.578890e+03, 4.417059e+06],
       [1.592600e+03, 1.605330e+03, 1.586700e+03, 1.598390e+03,
        5.115886e+06, 0.000000e+00, 1.000000e+00, 1.592600e+03,
        1.605330e+03, 1.586700e+03, 1.598390e+03, 5.115886e+06],
       [1.615960e+03, 1.617540e+03, 1.578010e+03, 1.588180e+03,
        6.427066e+06, 0.000000e+00, 1.000000e+00, 1.615960e+03,
        1.617540e+03, 1.578010e+03, 1.588180e+03, 6.427066e+06],
       [1.597000e+03, 1.606440e+03, 1.590890e+03, 1.591000e+03,
        4.164395e+06, 0.000000e+00, 1.000000e+00, 1.597000e+03,
        1.606440e+03, 1.590890e+03, 1.591000e+03, 4.164395e+06],
       [1.595000e+03, 1.596910e+03, 1.578110e+03, 1.582320e+03,
        4.026744e+06, 0.000000e+00, 1.000000e+00, 1.595000e+03,
        1.596910e+03, 1.578110e+03, 1.582320e+03, 4.026744e+06],
       [1.583450e+03, 1.589440e+03, 1.567500e+03, 1.571680e+03,
        5.145054e+06, 0.000000e+00, 1.000000e+00, 1.583450e+03,
        1.589440e+03, 1.567500e+03, 1.571680e+03, 5.145054e+06],
       [1.554530e+03, 1.561660e+03, 1.525350e+03, 1.544930e+03,
        6.376619e+06, 0.000000e+00, 1.000000e+00, 1.554530e+03,
        1.561660e+03, 1.525350e+03, 1.544930e+03, 6.376619e+06],
       [1.550340e+03, 1.587000e+03, 1.545410e+03, 1.586510e+03,
        4.507049e+06, 0.000000e+00, 1.000000e+00, 1.550340e+03,
        1.587000e+03, 1.545410e+03, 1.586510e+03, 4.507049e+06],
       [1.586450e+03, 1.590000e+03, 1.563170e+03, 1.581860e+03,
        4.667291e+06, 0.000000e+00, 1.000000e+00, 1.586450e+03,
        1.590000e+03, 1.563170e+03, 1.581860e+03, 4.667291e+06],
       [1.565470e+03, 1.573850e+03, 1.542400e+03, 1.544100e+03,
        6.177737e+06, 0.000000e+00, 1.000000e+00, 1.565470e+03,
        1.573850e+03, 1.542400e+03, 1.544100e+03, 6.177737e+06],
       [1.539010e+03, 1.549020e+03, 1.495360e+03, 1.495560e+03,
        7.843966e+06, 0.000000e+00, 1.000000e+00, 1.539010e+03,
        1.549020e+03, 1.495360e+03, 1.495560e+03, 7.843966e+06],
       [1.530000e+03, 1.556990e+03, 1.499250e+03, 1.555860e+03,
        5.547618e+06, 0.000000e+00, 1.000000e+00, 1.530000e+03,
        1.556990e+03, 1.499250e+03, 1.555860e+03, 5.547618e+06],
       [1.572400e+03, 1.575960e+03, 1.482320e+03, 1.497050e+03,
        6.793279e+06, 0.000000e+00, 1.000000e+00, 1.572400e+03,
        1.575960e+03, 1.482320e+03, 1.497050e+03, 6.793279e+06]])

In [34]:
#prediction of the last 30 dataset

new_y = regressor.predict(remaining_x)
new_y

array([1502.67127469, 1545.3979061 , 1565.0160193 , 1535.52051514,
       1553.33191543, 1569.01839397, 1579.05797806, 1595.29076826,
       1615.35968735, 1606.97393174, 1601.60899203, 1603.72124011,
       1602.88928906, 1626.57594229, 1631.73316289, 1641.86183701,
       1646.4966961 , 1677.8928154 , 1696.3178362 , 1695.17932549,
       1684.52641203, 1681.45162218, 1668.89637549, 1649.66481668,
       1689.39136073, 1688.04284266, 1639.6161701 , 1591.79180058,
       1671.77949431, 1611.72291414])